body {
	font-family: 'Poppins', sans-serif;
}

.layout-container {
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 70px 80px 1fr 30px 100px;
	grid-template-areas:
		'hd hd hd hd hd hd hd hd'
		'tl tl tl tl tl tl tl tl'
		'mn mn mn mn mn mn mn mn'
		'. . . . . . . .'
		'ft ft ft ft ft ft ft ft';
}
.homepage-layout-container {
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 70px 1fr 100px;
	grid-template-areas:
		'hd hd hd hd hd hd hd hd'
		'mn mn mn mn mn mn mn mn'
		'ft ft ft ft ft ft ft ft';
}

header {
	grid-area: hd;
}
main {
	grid-area: mn;
	@apply flex flex-col items-end px-4 lg:pr-0 md:pl-20 min-h-[calc(100vh-340px)];
}
aside {
	grid-area: sd;
	transition: all 1s linear;
	direction: rtl;
	@apply hidden lg:block border-solid border-l-2 border-gray-200 text-xl pl-4 h-[calc(100vh-20px)] lg:h-screen overflow-auto;
}

@media screen and (min-width: 1024px) {
	.layout-container {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 70px 80px 1fr 30px 100px;
		grid-template-areas:
			'hd hd hd hd hd hd hd hd'
			'tl tl tl tl tl tl sd sd'
			'mn mn mn mn mn mn sd sd'
			'. . . . . . . .'
			'ft ft ft ft ft ft ft ft';
	}

}

.arab-txt {
	font-family: 'Cairo', sans-serif;
}

.page-title {
	grid-area: tl;
}

footer {
	grid-area: ft;
	@apply p-4 z-20;
}

.open-drawer {
	
	@apply flex flex-col absolute  top-[60px] right-0 bottom-0 z-10 bg-slate-800 text-white border-0;
}
.close-drawer {
	@apply flex flex-col absolute w-0 pl-0   top-[60px] right-0 bottom-0 z-10 bg-slate-800 text-white;
}

.remove-txt {
	display: none;
}

@-webkit-keyframes drawer {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@keyframes drawer {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@-webkit-keyframes close {
	from {
		width: 100%;
	}

	to {
		width: 0;		color: transparent;
	}
}
@keyframes close {
	from {
		width: 100%;
	}

	to {
		width: 0;
	}
}


.typed {
	
	line-height: 35px;
	width: 80%;
	font-size: 150%;
	text-align: right;
	vertical-align: text-bottom;
}

.typed::after{
	content: "|";
	font-size: 150%;
	line-height: 30px;
	-webkit-animation: blink .75s step-end infinite;
	        animation: blink .75s step-end infinite;
}

@-webkit-keyframes blink {
	from, to { color: transparent }
	50% { color: #434343 }
}

@keyframes blink {
	from, to { color: transparent }
	50% { color: #434343}
}

/* width */
::-webkit-scrollbar {
  width: 12px;
	border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888b0; 
	border-radius: 2px;
	
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555c0; 
}

aside::-webkit-scrollbar {
  width: 6px;
}

aside::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
aside::-webkit-scrollbar-thumb {
  background: #88888887; 
	border-radius: 2px;
	
}

/* Handle on hover */
aside::-webkit-scrollbar-thumb:hover {
  background: #55555579; 
}