---
import Card from '../components/Card.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allNotes = await Astro.glob('../pages/posts/notes/*.md');
---
<script>
	import '../scripts/protect-routes.js'
</script>
<BaseLayout pageTitle='طلبيات الفروع | ملاحظات'>
	<div
		class='page-title arab-txt mr-4 pr-2 lg:mr-0 flex justify-end items-center border-right border-r-4 border-gray-600'
	>
		<h1
			class='text-xl md:text-2xl lg:text-3xl font-bold lg:font-semibold text-gray-900'
			dir='rtl'
		>
			أهم الملاحظات
		</h1>
	</div>
	<main class='flex-row justify-center md:justify-end items-start gap-6 pt-16 flex-wrap'>
		{
			allNotes.map(note => (
				<Card
					title={note.frontmatter.title}
					url={note.url}
					pubDate={note.frontmatter.pubDate.slice(0, 10)}
					thumbnail={note.frontmatter.image}
					author={note.frontmatter.author}
				/>
			))
		}
	</main>
</BaseLayout>
