---

---

<div class="burger w-8 h-6 flex flex-col justify-around items-center lg:hidden">
  <span class="w-8 h-0.5 bg-white"></span>
  <span class="w-6 h-0.5 bg-white"></span>
  <span class="w-8 h-0.5 bg-white"></span>

</div>