---
const d = new Date();
const year = d.getFullYear();
---
<footer class="flex flex-col justify-center items-end text-white bg-gray-700 text-sm p-4 z-0">
  <p dir="rtl" class="arab-txt">
    © {year}     قسم طلبيات الفروع - جميع الحقوق محفوظة 
  </p>
  <p class="arab-txt" dir="rtl">
    تم التصميم و التطوير بواسطة  <a class="underline font-bold" href="https://www.linkedin.com/in/islam-sayed-ibrahim/"> إسلام سيد</a>.
  </p>
</footer>