---

---
<footer class="flex flex-col justify-center items-end text-white bg-gray-700 text-sm p-4">
  <p>
    © 2023 REPLENISHMENT TEAM - All rights reserved.
  </p>
  <p>
    Developed by <a class="underline italic" href="https://www.linkedin.com/in/islam-sayed-ibrahim/">Islam Sayed</a>.
  </p>
</footer>