---
import Nav from "./Nav.astro";

---

<header class="bg-gray-700 text-white flex justify-between items-center py-3 px-10 z-20">
  <div>
    <a href="/" style="font-family: 'Poltawski Nowy', serif;" class="text-lg md:text-xl lg:text-2xl">Replenishment</a>
  </div>
  <div>
    <Nav />
  </div>
</header>