---
import Nav from "./Nav.astro";

---

<header class="bg-gray-700 text-white flex justify-between items-center py-3 px-10 z-20">
  <div>
    <a href="/" style="font-family: 'Poltawski Nowy', serif;" class="text-3xl">Replenishment</a>
  </div>
  <div>
    <Nav />
  </div>
</header>