---
import ReportTag from "./ReportTag.astro";
import FrequencyTag from './FrequencyTag.astro'
import Video from "./Video.astro";
const {videoSrc} = Astro.props;

const {url, frequency, reports} = Astro.props
---
<main class="">
  <Video videoSrc={videoSrc} />
  <div class="flex justify-between w-full my-4">
    <ul class="flex">
      {
        reports.map(report => <ReportTag report={report} />)
      }
    </ul>
    <FrequencyTag frequency={frequency} /> 
  </div>
</main>