---
import ReportTag from "./ReportTag.astro";
import FrequencyTag from './FrequencyTag.astro'
import Video from "./Video.astro";
const {videoSrc, title} = Astro.props;

const {url, frequency, reports} = Astro.props
---
<main class="">
  <div class="flex flex-col gap-4 w-full">

  {
    videoSrc.map(video => 
      <Video class=" animate__animated animate__fadeIn animate__delay-1s" videoSrc={video} title={title} />
    )
  }

  </div>
  <div class="flex justify-between flex-wrap w-full my-4 gap-2">
    <ul class="flex flex-wrap gap-2">
      {
        reports.map(report => <ReportTag report={report} />)
      }
    </ul>
    <FrequencyTag frequency={frequency} /> 
  </div>
</main>