---
import Burger from "./Burger.astro";
const navLinks = [{title: "الرئيسية", url: "/"}, {title: "تواصل معنا", url: "/contact"}];
---
<nav class="flex">
  <div class="mr-8">
  {
    navLinks.map(link => <a href={link.url} class="arab-txt text-sm lg:text-base pl-3 font-bold italic">{link.title}</a>)
  }
  </div>
  <Burger />
</nav>

