---
const {videoSrc, title} = Astro.props
import '../styles/video.css'
---

<!-- <div onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
	<img src="/assets/images/thumb.png" style="cursor:pointer" />
</div>
<div style="display:none"> -->

	<iframe
		class="w-full h-[calc(100vw*9/16)] md:h-[420px] lg:h-[520px] md:border-l-[16px]  border-gray-600 "
		src=`https://www.youtube.com/embed/${videoSrc}`
		title={title}
		allowfullscreen></iframe>
    <!-- </div> -->